src/main/resources/wsdl/CustomerService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:tns="http://soap.spring.training.erfinfeluzy.com/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CustomerSoapServiceImplService" targetNamespace="http://soap.spring.training.erfinfeluzy.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            xmlns:tns="http://soap.spring.training.erfinfeluzy.com/" elementFormDefault="unqualified" targetNamespace="http://soap.spring.training.erfinfeluzy.com/" version="1.0">
            <xs:element name="getAllCustomer" type="tns:getAllCustomer"/>
            <xs:element name="getAllCustomerResponse" type="tns:getAllCustomerResponse"/>
            <xs:element name="getCustomerByFirstname" type="tns:getCustomerByFirstname"/>
            <xs:element name="getCustomerByFirstnameResponse" type="tns:getCustomerByFirstnameResponse"/>
            <xs:complexType name="getCustomerByFirstname">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getCustomerByFirstnameResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:customer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="birthdate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="firstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="lastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAllCustomer">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getAllCustomerResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:customer"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCustomerByFirstname">
        <wsdl:part element="tns:getCustomerByFirstname" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllCustomerResponse">
        <wsdl:part element="tns:getAllCustomerResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllCustomer">
        <wsdl:part element="tns:getAllCustomer" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCustomerByFirstnameResponse">
        <wsdl:part element="tns:getCustomerByFirstnameResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CustomerSoapService">
        <wsdl:operation name="getCustomerByFirstname">
            <wsdl:input message="tns:getCustomerByFirstname" name="getCustomerByFirstname"></wsdl:input>
            <wsdl:output message="tns:getCustomerByFirstnameResponse" name="getCustomerByFirstnameResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllCustomer">
            <wsdl:input message="tns:getAllCustomer" name="getAllCustomer"></wsdl:input>
            <wsdl:output message="tns:getAllCustomerResponse" name="getAllCustomerResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerSoapServiceImplServiceSoapBinding" type="tns:CustomerSoapService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCustomerByFirstname">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getCustomerByFirstname">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCustomerByFirstnameResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllCustomer">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAllCustomer">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllCustomerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerSoapServiceImplService">
        <wsdl:port binding="tns:CustomerSoapServiceImplServiceSoapBinding" name="CustomerSoapServiceImplPort">
            <soap:address location="http://localhost:8080/soap/CustomerService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>